<div id="googlemap" style="width:<%= width %>px; height:<%= height %>px;"></div>

<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" %>
<%= javascript_include_tag "http://maps.google.com/maps?file=api&v=2&key=ABQIAAAANPKSmZLGixaiXPm4axsrNhRL7aHN84IgYddYDMrnQQV95WOVBRSBz4pFe5Nc4ZzbzY0MAvmogBnSJA" %>
<%= javascript_include_tag "mapiconmaker.js" %>
<%= javascript_include_tag "markermanager.js" %>
<%= javascript_include_tag "jquery.metadata.js" %>
<%= javascript_include_tag "jquery.jmapping.min.js" %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#googlemap').jMapping();
  });
</script>
